In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from IPython.display import display, Markdown

import pandas as pd
import numpy as np

import json

np.__version__

/var/folders/b7/c67wpzpn25q0h072y9mmz_th0000gn/T/ipykernel_12246/2341679603.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

'1.26.3'

# Pull in data

In [3]:
EXISTING__PERFORMER_SPLIT_FILE = './data/22.3-OUTPUT-gpt4-performer-to-performer-list-str-dicitonary.csv'
existing_lookup_table = pd.read_csv(EXISTING__PERFORMER_SPLIT_FILE)
existing_lookup_table

,performer,performers_list_str
0,10cc,10cc|
1,ABBA,ABBA|
2,AWB,AWB|
3,Aaliyah,Aaliyah|
4,Aaron Neville,Aaron Neville|
...,...,...
2457,Michael Jackson & Justin Timberlake,Michael Jackson|Justin Timberlake|
2458,Owl City,Owl City|
2459,"Pitbull Featuring Ne-Yo, Afrojack & Nayer",Pitbull|Ne-Yo|Afrojack|Nayer|
2460,Soko,Soko|
2461,The Chainsmokers,The Chainsmokers|

In [4]:
THRU_SEP_2023_PATH = './data/songs_df-through-Sep-2023.csv'
songs_df = pd.read_csv(THRU_SEP_2023_PATH)
songs_df

,song_id,chart_debut,song,performer,date_as_decimal,popularity_score,total_weeks_in_top_10
0,#9 DreamJohn Lennon,1975-02-15,#9 Dream,John Lennon,1975.13,3,2
1,'03 Bonnie & ClydeJay-Z Featuring Beyonce Knowles,2002-12-07,'03 Bonnie & Clyde,Jay-Z Featuring Beyonce Knowles,2002.93,56,11
2,'65 Love AffairPaul Davis,1982-04-24,'65 Love Affair,Paul Davis,1982.31,23,7
3,('til) I Kissed YouThe Everly Brothers,1959-09-07,('til) I Kissed You,The Everly Brothers,1959.68,44,7
4,(Can't Live Without Your) Love And AffectionNe...,1990-09-08,(Can't Live Without Your) Love And Affection,Nelson,1990.69,39,7
...,...,...,...,...,...,...,...
5136,amariJ. Cole,2021-05-29,amari,J. Cole,2021.41,6,1
5137,iSpyKYLE Featuring Lil Yachty,2017-04-01,iSpy,KYLE Featuring Lil Yachty,2017.25,31,8
5138,interludeJ. Cole,2021-05-22,interlude,J. Cole,2021.39,3,1
5139,"my.lifeJ. Cole, 21 Savage & Morray",2021-05-29,my.life,"J. Cole, 21 Savage & Morray",2021.41,9,1
5140,pride.is.the.devilJ. Cole & Lil Baby,2021-05-29,pride.is.the.devil,J. Cole & Lil Baby,2021.41,4,1

In [5]:
# make a df of all the rows from songs_df where the performer is NOT in the existing_lookup_table
df = songs_df[~songs_df['performer'].isin(existing_lookup_table['performer'])]
df

,song_id,chart_debut,song,performer,date_as_decimal,popularity_score,total_weeks_in_top_10
36,(When You Gonna) Give It Up To MeSean Paul Fea...,2006-08-19,(When You Gonna) Give It Up To Me,Sean Paul Feat. Keyshia Cole,2006.63,36,6
100,A Fifth Of BeethovenWalter Murphy & The Big Ap...,1976-08-28,A Fifth Of Beethoven,Walter Murphy & The Big Apple Band,1976.66,69,10
195,All My LifeLil Durk Featuring J. Cole,2023-05-27,All My Life,Lil Durk Featuring J. Cole,2023.40,53,10
303,Auld Lang SyneKenny G,2000-01-08,Auld Lang Syne,Kenny G,2000.02,7,2
305,Axel FHarold Faltermeyer,1985-05-18,Axel F,Harold Faltermeyer,1985.38,32,5
...,...,...,...,...,...,...,...
4786,"What The World Needs Now Is Love/Abraham, Mart...",1971-07-31,"What The World Needs Now Is Love/Abraham, Mart...",Tom Clay,1971.58,6,3
4875,White Silver SandsBill Black's Combo,1960-04-25,White Silver Sands,Bill Black's Combo,1960.32,2,1
4893,WhooptyCJ,2021-02-13,Whoopty,CJ,2021.12,1,1
4952,Without YouThe Kid LAROI & Miley Cyrus,2021-05-15,Without You,The Kid LAROI & Miley Cyrus,2021.37,3,1
4984,XanaduOlivia Newton-John And The Electric Ligh...,1980-10-04,Xanadu,Olivia Newton-John And The Electric Light Orch...,1980.76,7,3

# Split `performer` field into individual performers. We want a primary performer eg `Lady Gaga` and other performers `ft Justin Bieber` but as `Justin Bieber`.

In [7]:
GPT_SPLIT_PROMPT = """
You are an expert pop music critic, familiar with all the musical artists of the last 70 years.
Given a string containing the performer or performers for a song, return a list of the performers in the same order they appear in the string.

Sample input:
```json
[
    "Kid Rock Featuring Sheryl Crow", 
    "Pitbull Featuring Ne-Yo, Afrojack & Nayer", 
    "The Partridge Family Starring Shirley Jones Featuring David Cassidy", 
    "FEFE ft. Nicki Minaj, Murda Beatz",
    "The Beatles With Billy Preston",
    "Johnny Mathis/Deniece Williams"
]
```

Sample output:
```json
{"output":
[
    ["Kid Rock", "Sheryl Crow"],
    ["Pitbull", "Ne-Yo", "Afrojack", "Nayer"],
    ["The Partridge Family", "Shirley Jones", "David Cassidy"],
    ["FEFE", "Nicki Minaj", "Murda Beatz"],
    ["The Beatles", "Billy Preston"],
    ["Johnny Mathis", "Deniece Williams"]
]
}
```

Ok, now do this next input:
"""

# JUST USE GPT... sigh

# Fetch new labels using GPT4

In [8]:
import os
from openai import OpenAI

# First, activate the './.env' file which sets the OPENAI_API_KEY environment variable using python-dotenv
from dotenv import load_dotenv
load_dotenv()

client = OpenAI(
    # This is the default and can be omitted
    api_key=os.getenv("OPENAI_API_KEY"),
)

In [9]:
import ast

def eval_this_str(s):
    return ast.literal_eval(s)

In [10]:
def get_love_song_labels_for_rows(row_subset_str):
    try: 
        completion = client.chat.completions.create(
          model="gpt-4o",
          response_format={'type': "json_object"},
          messages=[
            {"role": "user", "content": GPT_SPLIT_PROMPT},
            {"role": "user", "content": row_subset_str},
          ]
        )
        content = completion.choices[0].message.content
        # return content
        response_content = eval_this_str(content)['output']
        # print(f"Response contains {completion['usage']['completion_tokens']} tokens out of 4096 maximum allowed tokens.")
        return response_content
    except Exception as e:
        print('ERROR FETCHING', e)
        return []

### Fetch in batches

In [11]:
NUM_TOTAL_COLUMNS = 15 # play it safe
def fetch_all_data_in_batches(df, increment=50):
    gpt_labeled_result = []
    for i in range(101):
        subset = df['performer'][i*increment : (i+1)*increment].reset_index(drop=True)
        if len(subset):
            subset_as_json_string = subset.to_json(orient='values')
            print([i*increment, (i+1)*increment])
            print(subset_as_json_string, '\n')
            fetched_and_formatted_res = get_love_song_labels_for_rows(subset_as_json_string)
            # fetched_and_formatted_res = [['The DeFranco Family', 'Tony DeFranco']]
            # Append the original performer string as the first element in each sub array (that's effectively the id so we can merge it in later)
            fetched_and_formatted_res = [[subset[j], *fetched_and_formatted_res[j]] for j in range(len(fetched_and_formatted_res))]
            # Ok, we need all the sub arrays to have the same number of elements, so we'll pad the shorter ones with empty strings
            for j in range(len(fetched_and_formatted_res)):
                fetched_and_formatted_res[j] = fetched_and_formatted_res[j] + ['']*(NUM_TOTAL_COLUMNS - len(fetched_and_formatted_res[j]))
            print(fetched_and_formatted_res)
            gpt_labeled_result = [*gpt_labeled_result, *fetched_and_formatted_res]
    return gpt_labeled_result

In [12]:
def get_file_path(postfix):
    return f'./data/22.3-TEMP-gpt4-performer-split-{postfix}.csv'

In [13]:
def save_to_temp_csv(formatted_gpt_result, run_num):
    first_label_pass_df = pd.DataFrame(
        formatted_gpt_result, 
        # playing it safe LOL
        columns=['performer', *[f'performer_{i}' for i in range(1, NUM_TOTAL_COLUMNS)]]
    )
    first_label_pass_df.to_csv(get_file_path(run_num), index=False)

# (run a test call to be sure things look ok)
For 100 rows at once:
For GPT4 turbo: 3min, about 3400 tokens out of 4096 maximum allowed tokens

In [14]:
TEST_POSTFIX = 'JUST A TEST, DELETE ME2'
save_to_temp_csv(
    fetch_all_data_in_batches(
        # unique_performers_df.head(5)
        df[df.performer.str.contains(', ')].head(5)
    ),
    TEST_POSTFIX
)

[0, 50]
["Grover Washington, Jr. With Bill Withers","Travis Scott, Bad Bunny & The Weeknd","DJ Khaled Featuring Justin Bieber, Chance The Rapper & Quavo","Hugo Montenegro, His Orchestra And Chorus"]

[['Grover Washington, Jr. With Bill Withers', 'Grover Washington, Jr.', 'Bill Withers', '', '', '', '', '', '', '', '', '', '', '', ''], ['Travis Scott, Bad Bunny & The Weeknd', 'Travis Scott', 'Bad Bunny', 'The Weeknd', '', '', '', '', '', '', '', '', '', '', ''], ['DJ Khaled Featuring Justin Bieber, Chance The Rapper & Quavo', 'DJ Khaled', 'Justin Bieber', 'Chance The Rapper', 'Quavo', '', '', '', '', '', '', '', '', '', ''], ['Hugo Montenegro, His Orchestra And Chorus', 'Hugo Montenegro', 'His Orchestra And Chorus', '', '', '', '', '', '', '', '', '', '', '', '']]

In [15]:
pd.read_csv(get_file_path(TEST_POSTFIX))

,performer,performer_1,performer_2,performer_3,performer_4,performer_5,performer_6,performer_7,performer_8,performer_9,performer_10,performer_11,performer_12,performer_13,performer_14
0,"Grover Washington, Jr. With Bill Withers","Grover Washington, Jr.",Bill Withers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Travis Scott, Bad Bunny & The Weeknd",Travis Scott,Bad Bunny,The Weeknd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"DJ Khaled Featuring Justin Bieber, Chance The ...",DJ Khaled,Justin Bieber,Chance The Rapper,Quavo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Hugo Montenegro, His Orchestra And Chorus",Hugo Montenegro,His Orchestra And Chorus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Do the API calls

In [16]:
unique_performers = df['performer'].unique()
unique_performers_df = pd.DataFrame(unique_performers, columns=['performer'])
unique_performers_df

                                             performer
0                         Sean Paul Feat. Keyshia Cole
1                   Walter Murphy & The Big Apple Band
2                           Lil Durk Featuring J. Cole
3                                              Kenny G
4                                   Harold Faltermeyer
..                                                 ...
96                                            Tom Clay
97                                  Bill Black's Combo
98                                                  CJ
99                         The Kid LAROI & Miley Cyrus
100  Olivia Newton-John And The Electric Light Orch...

[101 rows x 1 columns]

In [20]:
DATA_KEY_1 = 'through-september-2023'
# save_to_temp_csv(
#     fetch_all_data_in_batches(
#         unique_performers_df.iloc[0:1000],
#     ), 
#     DATA_KEY_1
# )

In [136]:
# save_to_temp_csv(
#     fetch_all_data_in_batches(
#         unique_performers_df.iloc[1000:2000],
#     ), 
#     2
# )

In [135]:
# save_to_temp_csv(
#     fetch_all_data_in_batches(
#         unique_performers_df.iloc[2000:3000], # there are only about 2400, to be clear
#     ), 
#     3
# )

In [18]:
print('DONE!')

DONE!

In [21]:
split_by_gpt_df = pd.concat([
    pd.read_csv(get_file_path(DATA_KEY_1)),
    # pd.read_csv(get_file_path(2)),
    # pd.read_csv(get_file_path(3)),
])

# unique_performers_df get all the unique performers who are NOT in split_by_gpt_df
assert(0 == len(unique_performers_df[~unique_performers_df.performer.isin(split_by_gpt_df.performer)]))

split_by_gpt_df

,performer,performer_1,performer_2,performer_3,performer_4,performer_5,performer_6,performer_7,performer_8,performer_9,performer_10,performer_11,performer_12,performer_13,performer_14
0,Sean Paul Feat. Keyshia Cole,Sean Paul,Keyshia Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Walter Murphy & The Big Apple Band,Walter Murphy,The Big Apple Band,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lil Durk Featuring J. Cole,Lil Durk,J. Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kenny G,Kenny G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Harold Faltermeyer,Harold Faltermeyer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Tom Clay,Tom Clay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Bill Black's Combo,Bill Black's Combo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,CJ,CJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,The Kid LAROI & Miley Cyrus,The Kid LAROI,Miley Cyrus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Olivia Newton-John And The Electric Light Orch...,Olivia Newton-John,The Electric Light Orchestra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Inspect, prepare, export

In [25]:
# What is the maximum number of performers in a single song?
# SHow me the total count of performers in each column:
split_by_gpt_df.apply(lambda x: x.value_counts().sum())

# show me rows with non-null values in performer_5 column:
# split_by_gpt_df[split_by_gpt_df['performer_5'].notnull()]

performer       101
performer_1     101
performer_2      47
performer_3       5
performer_4       1
performer_5       0
performer_6       0
performer_7       0
performer_8       0
performer_9       0
performer_10      0
performer_11      0
performer_12      0
performer_13      0
performer_14      0
dtype: int64

# MANUALLY SET THIS BASED ON THE ABOVE:

In [28]:
MAX_PERFORMERS = 4

In [26]:
# create an export_ready_df where any completely empty columns are dropped
export_ready_df = split_by_gpt_df.dropna(axis=1, how='all')
export_ready_df

,performer,performer_1,performer_2,performer_3,performer_4
0,Sean Paul Feat. Keyshia Cole,Sean Paul,Keyshia Cole,NaN,NaN
1,Walter Murphy & The Big Apple Band,Walter Murphy,The Big Apple Band,NaN,NaN
2,Lil Durk Featuring J. Cole,Lil Durk,J. Cole,NaN,NaN
3,Kenny G,Kenny G,NaN,NaN,NaN
4,Harold Faltermeyer,Harold Faltermeyer,NaN,NaN,NaN
...,...,...,...,...,...
96,Tom Clay,Tom Clay,NaN,NaN,NaN
97,Bill Black's Combo,Bill Black's Combo,NaN,NaN,NaN
98,CJ,CJ,NaN,NaN,NaN
99,The Kid LAROI & Miley Cyrus,The Kid LAROI,Miley Cyrus,NaN,NaN
100,Olivia Newton-John And The Electric Light Orch...,Olivia Newton-John,The Electric Light Orchestra,NaN,NaN

In [29]:
# get a list of all unique values in perfomer_N columns, exlcude NaN
unique_performers_after_gpt_split = pd.concat([export_ready_df[f'performer_{i}'] for i in range(1, MAX_PERFORMERS)]).value_counts()
unique_performers_after_gpt_split

Ice Spice                   4
Travis Scott                3
Drake                       2
Zach Bryan                  2
Mike Post                   2
                           ..
Los Indios Tabajaras        1
Love Unlimited Orchestra    1
The Captain                 1
Jimin                       1
Allison Moorer              1
Name: count, Length: 140, dtype: int64

In [32]:
# Using assert(), sanity check that the character "|" does NOT appear in any of the performer columns
assert(
    0 == sum(
        [unique_performers_after_gpt_split.index[i].count('|') for i in range(len(unique_performers_after_gpt_split))]
    )
)

# Create a new df where performer1-7 are concatinated into a "|" separated string, and performer column is left. So there are 2 columns in the new df.
string_concat_df = export_ready_df.copy()
# skip any NaN values
string_concat_df['performers_list_str'] = string_concat_df.apply(lambda x: '|'.join([x[f'performer_{i}'] for i in range(1, MAX_PERFORMERS+1) if pd.notnull(x[f'performer_{i}'])]), axis=1)
string_concat_df = string_concat_df.drop([f'performer_{i}' for i in range(1, MAX_PERFORMERS+1)], axis=1)
# append "|" to the end of each string in performers_list_str
string_concat_df['performers_list_str'] = string_concat_df['performers_list_str'].apply(lambda x: x + '|')
string_concat_df

,performer,performers_list_str
0,Sean Paul Feat. Keyshia Cole,Sean Paul|Keyshia Cole|
1,Walter Murphy & The Big Apple Band,Walter Murphy|The Big Apple Band|
2,Lil Durk Featuring J. Cole,Lil Durk|J. Cole|
3,Kenny G,Kenny G|
4,Harold Faltermeyer,Harold Faltermeyer|
...,...,...
96,Tom Clay,Tom Clay|
97,Bill Black's Combo,Bill Black's Combo|
98,CJ,CJ|
99,The Kid LAROI & Miley Cyrus,The Kid LAROI|Miley Cyrus|
100,Olivia Newton-John And The Electric Light Orch...,Olivia Newton-John|The Electric Light Orchestra|

# CONCAT FETCHED DATA WITH EXISTING DATA

In [44]:
concatted = pd.concat([
    existing_lookup_table,
    string_concat_df
])

# assert that the number of rows in the new df is the same as the number of rows in the original df
# assert(len(concatted) == len(df.performer.unique()))
assert(len(df.performer.unique()) + len(existing_lookup_table.performer.unique()) == len(concatted))

# Export

In [45]:
# save the final result
PERFORMER_SPLIT_FILE = './data/22.3-OUTPUT-gpt4-performer-to-performer-list-str-dicitonary-through-sep-2023.csv'
concatted.to_csv(PERFORMER_SPLIT_FILE, index=False)

In [46]:
pd.read_csv(PERFORMER_SPLIT_FILE)

,performer,performers_list_str
0,10cc,10cc|
1,ABBA,ABBA|
2,AWB,AWB|
3,Aaliyah,Aaliyah|
4,Aaron Neville,Aaron Neville|
...,...,...
2558,Tom Clay,Tom Clay|
2559,Bill Black's Combo,Bill Black's Combo|
2560,CJ,CJ|
2561,The Kid LAROI & Miley Cyrus,The Kid LAROI|Miley Cyrus|
2562,Olivia Newton-John And The Electric Light Orch...,Olivia Newton-John|The Electric Light Orchestra|