In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from IPython.display import display, Markdown

import pandas as pd
import numpy as np

import json

np.__version__

/var/folders/b7/c67wpzpn25q0h072y9mmz_th0000gn/T/ipykernel_17099/2341679603.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

'1.26.3'

# 0. Import & prep data

In [2]:
PERFORMER_SPLIT_FILE = "./data/22.4-OUTPUT-performer_list_str-with-multi-name-artists-merged.csv"

raw_performers_df = pd.read_csv(PERFORMER_SPLIT_FILE)
raw_performers_df

performers_list = raw_performers_df['performers_list_str'].str.split("|").apply(lambda x: [i for i in x if i]).values
performers_list = np.unique(
    np.concatenate(performers_list)
)
raw_performers_df

,performer,performers_list_str
0,10cc,10cc|
1,ABBA,ABBA|
2,AWB,AWB|
3,Aaliyah,Aaliyah|
4,Aaron Neville,Aaron Neville|
...,...,...
2457,Michael Jackson & Justin Timberlake,Michael Jackson|Justin Timberlake|
2458,Owl City,Owl City|
2459,"Pitbull Featuring Ne-Yo, Afrojack & Nayer",Pitbull|Ne-Yo|Afrojack|Nayer|
2460,Soko,Soko|
2461,The Chainsmokers,The Chainsmokers|

# Setup GPT4 call

In [3]:
import os
from openai import OpenAI

# First, activate the './.env' file which sets the OPENAI_API_KEY environment variable using python-dotenv
from dotenv import load_dotenv
load_dotenv()

client = OpenAI(
    # This is the default and can be omitted
    api_key=os.getenv("OPENAI_API_KEY"),
)

In [4]:
LOVE_SONG_LABELING_PROMPT = """
You are a pop music expert, familiar with the songs and their performers featured in the US Billboard Top 10 hits.

You are also an expert in the gender identities of these performers, including those who have updated their genders, eg Sam Smith who is now non-binary.

Your task is, given a performer, label them with:
- "individual" or "group"
- their most recent gender identity, or, in the case of a group, the gender identity mix of the the group: "male", "female", "non-binary", "mixed gender group"
- If a performer is unclear or simply appears to be a mistake, label them as "unknown"

Here's an example input:

```json
[
	"Sam Smith",
    "Demi Lovato",
    "Adele",
    "SZA",
    "John Legend",
    "The Beatles",
    "Black Eyed Peas",
    "The Carpenters",
    "The Supremes",
    "Destiny's Child",
    "The Rolling Stones",
    "One Direction",
    "His Twangy Guitar",
    "asdf ghjkl"
]
```

Here's the sample corresponding output:

```json
{"output": [
	["Sam Smith", "individual", "non-binary"],
    ["Demi Lovato", "individual", "non-binary"],
    ["Adele", "individual", "female"],
    ["SZA", "individual", "female"],
    ["John Legend", "individual", "male"],
    ["The Beatles", "group", "male"],
    ["Black Eyed Peas", "group", "mixed gender group"],
    ["The Carpenters", "group", "mixed gender group"]
    ["The Supremes", "group", "female"],
    ["Destiny's Child", "group", "female"],
    ["The Rolling Stones", "group", "male"],
    ["One Direction", "group", "male"],
    ["His Twangy Guitar", "unknown", "unknown"],
    ["asdf ghjkl", "unknown", "unknown"]
]}
```

Ok, now generate the output for this input:
"""

In [5]:
import ast

def eval_this_str(s):
    return ast.literal_eval(s)

In [6]:
def get_love_song_labels_for_rows(row_subset_str):
    try: 
        completion = client.chat.completions.create(
          model="gpt-4-1106-preview",
          response_format={'type': "json_object"},
          messages=[
            {"role": "user", "content": LOVE_SONG_LABELING_PROMPT},
            {"role": "user", "content": row_subset_str},
          ]
        )
        content = completion.choices[0].message.content
        # return content
        response_content = eval_this_str(content)['output']
        # print(f"Response contains {completion['usage']['completion_tokens']} tokens out of 4096 maximum allowed tokens.")
        return response_content
    except Exception as e:
        print('ERROR FETCHING', e)
        return []

### Setup API call batching code

In [7]:
def fetch_all_data_in_batches(performers_list, increment=50):
    gpt_labeled_result = []
    for i in range(101):
        subset = performers_list[i*increment : (i+1)*increment]
        if len(subset):
            print([i*increment, (i+1)*increment])
            print(subset)
            subset_as_json_string = json.dumps(subset.tolist())
            print(subset_as_json_string, '\n')
            # fetched_and_formatted_res = [['David Mora', 'individual', 'male']]
            fetched_and_formatted_res = get_love_song_labels_for_rows(subset_as_json_string)
            print(fetched_and_formatted_res)
            gpt_labeled_result = [*gpt_labeled_result, *fetched_and_formatted_res]
    return gpt_labeled_result

def get_file_path(postfix):
    return f'./data/22.5-TEMP-gpt4-label-gender-{postfix}.csv'

def save_to_temp_csv(gpt_labeled_result, run_num):
    first_label_pass_df = pd.DataFrame(
        gpt_labeled_result, 
        columns=['performer', 'type', 'gender']
    )
    first_label_pass_df.to_csv(get_file_path(run_num), index=False)

# (run a test call to be sure things look ok)
For 100 rows at once:
For GPT4 turbo: 3min, about 3400 tokens out of 4096 maximum allowed tokens

In [8]:
# TEST_POSTFIX = 'JUST A TEST, DELETE ME'
# save_to_temp_csv(
#     fetch_all_data_in_batches(
#         # just get first 4:
#         performers_list[:4]
#     ), 
#     TEST_POSTFIX
# )

In [10]:
# pd.read_csv(get_file_path(TEST_POSTFIX))

# Execute calls (in batched batches in case of failure)

In [11]:
# save_to_temp_csv(
#     fetch_all_data_in_batches(
#         performers_list[0:1000]
#     ), 
#     1
# )

In [12]:
# save_to_temp_csv(
#     fetch_all_data_in_batches(
#         performers_list[1000:2000]
#     ), 
#     2
# )

In [13]:
# save_to_temp_csv(
#     fetch_all_data_in_batches(
#         performers_list[2000:3000]
#     ), 
#     3
# )

# Merge & clean the fetched data

In [14]:
gender_df = pd.concat([
    pd.read_csv(get_file_path(1)),
    pd.read_csv(get_file_path(2)),
    pd.read_csv(get_file_path(3))
])
gender_df

               performer        type              gender
0            "The Sting"     unknown             unknown
1    "Weird Al" Yankovic  individual                male
2                'N Sync       group                male
3           'Til Tuesday       group  mixed gender group
4              100 Proof       group  mixed gender group
..                   ...         ...                 ...
281      the Blackhearts       group  mixed gender group
282            the Curls     unknown             unknown
283           the Delons     unknown             unknown
284    twenty one pilots       group                male
285            will.i.am  individual                male

[2286 rows x 3 columns]

## Do some sanity checks & identify issues

In [16]:
gender_df.type.value_counts()

type
individual    1306
group          910
unknown         70
Name: count, dtype: int64

In [17]:
gender_df.gender.value_counts()

gender
male                  1538
female                 461
mixed gender group     199
unknown                 79
non-binary               9
Name: count, dtype: int64

### Here is where we first caught the mistakes, which we fix below 

(why am I using "we"? It's just me, David. Hi.)

In [19]:
combnined = set([*performers_list, *gender_df['performer']])
# Print any performers that are not in both performers_list AND gender_df['performer']
culprit = None
for p in combnined:
    if p not in performers_list:
        culprit = p
        print(f"Performer '{p}' not in performers_list")

for performer in performers_list:
    if performer not in combnined:
        print(f"Performer '{performer}' not in combined")

gender_df[
    gender_df.performer.str.contains(culprit)
]

print('What IS in performers_list:', [performer for performer in performers_list if performer.startswith('Henry Mancini')])


# NA: write out WHAT the mistake is. Figure out how to fix it. (in this notebook of the last?)
# The mistakes is that I failed to TRIM the whitespace from the performer names, in the last notebook.
#

Performer 'Henry Mancini And' not in performers_list
What IS in performers_list: ['Henry Mancini And ']

### We detected an underlying data mistake: several performers end in some variation of `" And "`

Note, however: these were all, helpfully, marketed as `unknown`. So we can address them within that larger type.

In [20]:
# The issue: seems GPT strugled with chopping of the ending "and ", thankfully pretty easy to identify.
[performer for performer in performers_list if performer.endswith(' ')]

['David Rose and ',
 'Henry Mancini And ',
 'Lawrence Welk And ',
 'Lloyd Price and ',
 'Reg Owen & ']

In [21]:
gender_df[
    gender_df.performer.str.endswith(' And ')
    | gender_df.performer.str.endswith(' and ')
    | gender_df.performer.str.endswith(' & ')
    | gender_df.performer.str.endswith(' And')
]

              performer     type   gender
479     David Rose and   unknown  unknown
787   Henry Mancini And  unknown  unknown
92   Lawrence Welk And   unknown  unknown
157    Lloyd Price and   unknown  unknown
551         Reg Owen &   unknown  unknown

# Make corrections

## Apply `unkown` fixes

### A. Export the `unknown`s, hand fix them in a spreadsheet, correct

Types of fixes provided by gsheet:
- It *is* a real performer. ACTION: Add the info, correct *just in the gender lookup table*
- Incorrectly *parsed* name. ACTION: fix the name, correct both *gender lookup and name split tables*
- The name shouldn't be in the dataset at all. ACTION: drop from BOTH *gender lookup and name split tables*

In [23]:
pd.set_option('display.max_rows', 30)
gender_df[
    gender_df.type == 'unknown'
]#.to_csv('./data/22.5-TEMP-unknown-gender-to-hand-correct.csv', index=False)

         performer     type   gender
0      "The Sting"  unknown  unknown
24               ?  unknown  unknown
64             Ali  unknown  unknown
66     Alice Bowie  unknown  unknown
76   Amanda Reifer  unknown  unknown
..             ...      ...      ...
145  Tony DeFranco  unknown  unknown
245         Wynter  unknown  unknown
276           dazy  unknown  unknown
282      the Curls  unknown  unknown
283     the Delons  unknown  unknown

[70 rows x 3 columns]

In [75]:
# Fetch the correction gSheet
G_SHEET_URL = "https://docs.google.com/spreadsheets/d/1xxE-vvzDUQTgYeigHMK_4lUznXAzDgNlAdY6JMOIOcc/export?format=csv&gid=1356757517"
gsheet_unknown_corrections_df = pd.read_csv(G_SHEET_URL)
gsheet_unknown_corrections_df

        performer        type              gender correct_name drop_it
0     "The Sting"     unknown             unknown          NaN       y
1               ?     unknown             unknown          NaN     NaN
2             Ali  individual                male          NaN     NaN
3     Alice Bowie  individual                male          NaN     NaN
4   Amanda Reifer  individual              female          NaN     NaN
..            ...         ...                 ...          ...     ...
77   The Triumphs       group  mixed gender group          NaN     NaN
78  The Twilights       group  mixed gender group          NaN     NaN
79         Divine       group              female          NaN     NaN
80           Soko  individual              female          NaN     NaN
81       Ya Kid K  individual              female          NaN     NaN

[82 rows x 5 columns]

In [76]:
# Fetch the incorrect split correction gSheet
INCORRECT_SPLIT_G_SHEET_URL = "https://docs.google.com/spreadsheets/d/1xxE-vvzDUQTgYeigHMK_4lUznXAzDgNlAdY6JMOIOcc/export?format=csv&gid=659955835"
gsheet_incorrect_split_corrections_df = pd.read_csv(INCORRECT_SPLIT_G_SHEET_URL)
gsheet_incorrect_split_corrections_df

,split_part_1,split_part_2,replace_with_this,type,gender
0,?,The Mysterians,? and the Mysterians,group,male
1,Travis,Bob,Travis & Bob,group,male
2,James,Bobby Purify,James & Bobby Purify,group,male
3,Dale,Grace,Dale & Grace,group,mixed gender group
4,Dan,Shay,Dan + Shay,group,male
5,Derek,The Dominos,Derek and the Dominos,group,male
6,Disco Tex,The Sex-O-Lettes,Disco-Tex and the Sex-O-Lettes,group,mixed gender group
7,Paul,Paula,Paul & Paula,group,mixed gender group
8,Cornelius Brothers,Sister Rose,Cornelius Brothers & Sister Rose,group,mixed gender group
9,Jimmy Harnen,Synch,Jimmy Harnen with Synch,group,male
10,Trina,Tamara,Trina & Tamara,group,female

### B. Finicky fixes listed below by removing the SPLIT names, replacing them with the FULL name

*Groups that were erroniously split* (these have been marked as `drop_it` in the gsheet)
- "? and the Mysterians" should be the entry, not a split out "?" and "The Mysterians"
- "Travis & Bob" is right, not "Travis" and "Bob"
- "James & Bobby Purify" is a group (don't split)
- "Dale and Grace" eg on I'm Leaving it Up to You
- "Dan + Shay" not "Dan" "Shay"
- "Derek and the Dominos" not "Derek" "The Dominos"
- "Disco-Tex and the Sex-O-Lettes"
- "Paul & Paula"
- "Cornelius Brothers & Sister Rose"
- "Jimmy Harnen with Synch"
- "Trina & Tamara"

In [106]:
# Create copies
fixed_gender_df = gender_df.copy()
fixed_raw_performers_df = raw_performers_df.copy()



# PART 1: apply hand fixes to incorrect splits

# The algorithm to update:
# 1. For each `row` in `gsheet_incorrect_split_corrections_df`:
# 2. For both `fixed_raw_performers_df` and `fixed_gender_df`, for every `performer` column that contains `row.split_part_1` or `row.split_part_2`
# a. Remove both `row.split_part_1` and/or `row.split_part_2`
# b. Append the `row.replace_with_this` (which is the corrected, unsplit version)
# c. If relevant, update with the `row.type` and `row.gender`

def add_delim(str):
    return f"{str}|"

def update_row_if_needed(performers_list_str, row):
    if add_delim(row['split_part_1']) in performers_list_str and add_delim(row['split_part_2']) in performers_list_str:
        updated = add_delim(row['replace_with_this']) + performers_list_str.replace(add_delim(row['split_part_1']), '').replace(add_delim(row['split_part_2']), '')
        print(f"{performers_list_str} => {updated}")
        return updated
    return performers_list_str

for index, row in gsheet_incorrect_split_corrections_df.iterrows():
    # Drop rows from `fixed_raw_performers_df` that contain `row.split_part_1` or `row.split_part_2`
    fixed_gender_df = fixed_gender_df[
        ~fixed_gender_df['performer'].str.contains(add_delim(row['split_part_1']), regex=False) &
        ~fixed_gender_df['performer'].str.contains(add_delim(row['split_part_2']), regex=False)
    ]
    # Append the corrected unsplit version
    fixed_gender_df = pd.concat([
        fixed_gender_df,
        pd.DataFrame({
            'performer': [row['replace_with_this']],
            'type': [row['type']],
            'gender': [row['gender']]
        })
    ], ignore_index=True)

    # Now handle the performers in `fixed_raw_performers_df`
    fixed_raw_performers_df['performers_list_str'] = fixed_raw_performers_df['performers_list_str'].apply(
        lambda performers_list_str: update_row_if_needed(performers_list_str, row)
    )



# PART 2: apply hand fixes to unkNowns
for index, row in gsheet_unknown_corrections_df.iterrows():
    performer = row['performer']
    # Clear, we'll leave it out or add it in later based on the corrections
    fixed_gender_df = fixed_gender_df[fixed_gender_df.performer != performer]
    # DROP MISTAKES
    if row['drop_it'] == 'y':
        # Go through each row in the fixed_raw_performers_df, removing the string f'{performer}|' from performers_list_str, if it exists
        fixed_raw_performers_df['performers_list_str'] = fixed_raw_performers_df['performers_list_str'].str.replace(f'{performer}|', '')
    elif row['type'] != 'unknown':
        corrected_name = row['correct_name']
        performer_name = corrected_name if not pd.isnull(corrected_name) else performer
        fixed_gender_df = pd.concat([
            fixed_gender_df,
            pd.DataFrame(
                [
                    performer_name,
                    row['type'],
                    row['gender']
                ]
            )
        ])
        fixed_raw_performers_df['performers_list_str'] = fixed_raw_performers_df['performers_list_str'].str.replace(f'{performer}|', f'{performer_name}|')
    else:
        # Anything remaining should have been handled in PART 1
        if add_delim(row['performer']) in fixed_raw_performers_df['performers_list_str'].values:
            print('ERROR: unhandled')
        if add_delim(row['performer']) in fixed_gender_df['performer'].values:
            print('ERROR: unhandled')

fixed_gender_df = fixed_gender_df[['performer', 'type', 'gender']].dropna()

assert(len(fixed_gender_df) != len(gender_df))
assert(len(fixed_raw_performers_df) == len(raw_performers_df))
fixed_gender_df

?|The Mysterians| => ? and the Mysterians|
Travis|Bob| => Travis & Bob|
James|Bobby Purify| => James & Bobby Purify|
Dale|Grace| => Dale & Grace|
Dan|Shay|Justin Bieber| => Dan + Shay|Justin Bieber|
Derek|The Dominos| => Derek and the Dominos|
Disco Tex|The Sex-O-Lettes|Sir Monti Rock III| => Disco-Tex and the Sex-O-Lettes|Sir Monti Rock III|
Paul|Paula| => Paul & Paula|
Cornelius Brothers|Sister Rose| => Cornelius Brothers & Sister Rose|
Jimmy Harnen|Synch| => Jimmy Harnen with Synch|
Somethin' For The People|Trina|Tamara| => Trina & Tamara|Somethin' For The People|

                             performer        type              gender
1                  "Weird Al" Yankovic  individual                male
2                              'N Sync       group                male
3                         'Til Tuesday       group  mixed gender group
4                            100 Proof       group  mixed gender group
5                                 10cc       group                male
...                                ...         ...                 ...
2292    Disco-Tex and the Sex-O-Lettes       group  mixed gender group
2293                      Paul & Paula       group  mixed gender group
2294  Cornelius Brothers & Sister Rose       group  mixed gender group
2295           Jimmy Harnen with Synch       group                male
2296                    Trina & Tamara       group              female

[2215 rows x 3 columns]

# Sanity check our fixes

In [97]:
assert(len(fixed_raw_performers_df) == len(raw_performers_df))
fixed_performers_list = np.unique(
    np.concatenate(fixed_raw_performers_df['performers_list_str'].str.split("|").apply(lambda x: [i for i in x if i]).values)
)

unique_values, value_counts = np.unique(np.concatenate(fixed_raw_performers_df['performers_list_str'].str.split("|").apply(lambda x: [i for i in x if i]).values), return_counts=True)
sorted_output = sorted(zip(unique_values, value_counts), key=lambda x: x[1], reverse=True)
sorted_output # Note: this is not TOTAL SONG COUNT, this is just "total appearances in unique performer strings" which is a bit different

[('Drake', 36),
 ('Lil Wayne', 22),
 ('Justin Bieber', 19),
 ('Nicki Minaj', 17),
 ('Jay-Z', 16),
 ('Ludacris', 16),
 ('Rihanna', 16),
 ('T-Pain', 15),
 ('Kanye West', 14),
 ('Ariana Grande', 12),
 ('Nelly', 12),
 ('Chris Brown', 11),
 ('Justin Timberlake', 11),
 ('Akon', 10),
 ('Cardi B', 10),
 ('Eminem', 10),
 ('Lil Baby', 10),
 ('21 Savage', 9),
 ('50 Cent', 9),
 ('Kendrick Lamar', 9),
 ('Lil Jon', 9),
 ('Pitbull', 9),
 ('Post Malone', 9),
 ('Snoop Dogg', 9),
 ('Travis Scott', 9),
 ('Usher', 9),
 ('Beyonce', 8),
 ('Bruno Mars', 8),
 ('Ciara', 8),
 ('T.I.', 8),
 ('The Weeknd', 8),
 ('David Guetta', 7),
 ('Flo Rida', 7),
 ('Future', 7),
 ('Jennifer Lopez', 7),
 ('Juice WRLD', 7),
 ('Mariah Carey', 7),
 ('Michael Jackson', 7),
 ('Ne-Yo', 7),
 ('Puff Daddy', 7),
 ('R. Kelly', 7),
 ('Sean Paul', 7),
 ('Ashanti', 6),
 ('Ja Rule', 6),
 ('Janet Jackson', 6),
 ('Maroon 5', 6),
 ('Mase', 6),
 ('Paul McCartney', 6),
 ('Taylor Swift', 6),
 ('Timbaland', 6),
 ('Young Thug', 6),
 ('Alicia Keys', 5),
 ('Bad Bunny', 5),
 ('Barbra Streisand', 5),
 ('Britney Spears', 5),
 ('Busta Rhymes', 5),
 ('Christina Aguilera', 5),
 ('DJ Khaled', 5),
 ('DaBaby', 5),
 ('Doja Cat', 5),
 ('Elton John', 5),
 ('Fabolous', 5),
 ('George Michael', 5),
 ('Halsey', 5),
 ('Ke$ha', 5),
 ('Kenny Rogers', 5),
 ('Lady Gaga', 5),
 ('Missy Elliott', 5),
 ('P. Diddy', 5),
 ('Pharrell', 5),
 ('Quavo', 5),
 ('Santana', 5),
 ('The Chainsmokers', 5),
 ('B.o.B', 4),
 ('BTS', 4),
 ('Bebe Rexha', 4),
 ('Calvin Harris', 4),
 ('Camila Cabello', 4),
 ('Charlie Puth', 4),
 ('Chingy', 4),
 ('Diana Ross', 4),
 ('Dr. Dre', 4),
 ('Eve', 4),
 ('Faith Evans', 4),
 ('Gwen Stefani', 4),
 ('Jamie Foxx', 4),
 ('Jason Derulo', 4),
 ('Jeremih', 4),
 ('Joe', 4),
 ('Katy Perry', 4),
 ('Khalid', 4),
 ('LL Cool J', 4),
 ("Lil' Kim", 4),
 ('Metro Boomin', 4),
 ('Migos', 4),
 ('Missy "Misdemeanor" Elliott', 4),
 ('Olivia Newton-John', 4),
 ('Peter Cetera', 4),
 ('Roberta Flack', 4),
 ('SZA', 4),
 ('Sam Smith', 4),
 ('Selena Gomez', 4),
 ('Sia', 4),
 ('Wiz Khalifa', 4),
 ('Zedd', 4),
 ("'N Sync", 3),
 ('112', 3),
 ('3OH!3', 3),
 ('6ix9ine', 3),
 ('A$AP Rocky', 3),
 ('Alessia Cara', 3),
 ('BLACKstreet', 3),
 ('Baby Bash', 3),
 ('Babyface', 3),
 ('Big Sean', 3),
 ('Billy Preston', 3),
 ('Bow Wow', 3),
 ('Bryan Adams', 3),
 ('Case', 3),
 ('Celine Dion', 3),
 ('Charli XCX', 3),
 ('Coldplay', 3),
 ('DJ Snake', 3),
 ('Dawn', 3),
 ('Dionne Warwick', 3),
 ('Don Henley', 3),
 ('Donna Summer', 3),
 ('Dru Hill', 3),
 ('Dua Lipa', 3),
 ('Enrique Iglesias', 3),
 ('Fetty Wap', 3),
 ('Gloria Estefan', 3),
 ('Gunna', 3),
 ('Iggy Azalea', 3),
 ('J. Cole', 3),
 ('Jack Harlow', 3),
 ('James Ingram', 3),
 ('Jennifer Warnes', 3),
 ('Jody Watley', 3),
 ('Joe Cocker', 3),
 ('John Travolta', 3),
 ('Juelz Santana', 3),
 ('Keyshia Cole', 3),
 ('Kodak Black', 3),
 ('Lil Nas X', 3),
 ('Linda Ronstadt', 3),
 ('Luther Vandross', 3),
 ('M.I.A.', 3),
 ('Madonna', 3),
 ('Marshmello', 3),
 ('Mary J. Blige', 3),
 ('Megan Thee Stallion', 3),
 ('Mya', 3),
 ('Nate Dogg', 3),
 ('Nelly Furtado', 3),
 ('No Doubt', 3),
 ('P!nk', 3),
 ('Peabo Bryson', 3),
 ('Phil Collins', 3),
 ('Rod Stewart', 3),
 ('Shaggy', 3),
 ('Shakira', 3),
 ('Shawn Mendes', 3),
 ('Stevie Nicks', 3),
 ('Stevie Wonder', 3),
 ('Technotronic', 3),
 ('The East Side Boyz', 3),
 ('The Kid LAROI', 3),
 ('The Notorious B.I.G.', 3),
 ('The Pussycat Dolls', 3),
 ('The Rebels', 3),
 ('The Supremes', 3),
 ('Tim McGraw', 3),
 ('Twista', 3),
 ('Tyga', 3),
 ('Whitney Houston', 3),
 ('Ying Yang Twins', 3),
 ('will.i.am', 3),
 ('2 Chainz', 2),
 ('2Pac', 2),
 ('98 Degrees', 2),
 ('Aaron Neville', 2),
 ('Adam Levine', 2),
 ('Afrojack', 2),
 ('Al Green', 2),
 ('Ali', 2),
 ('Amy Grant', 2),
 ('Ann Wilson', 2),
 ('Annette', 2),
 ('Aretha Franklin', 2),
 ('Az Yet', 2),
 ('B.J. Thomas', 2),
 ('Bastille', 2),
 ('Betty Everett', 2),
 ('Betty Wright', 2),
 ('Bill Withers', 2),
 ('Billy Ray Cyrus', 2),
 ('Bobby Brown', 2),
 ('Bobby Valentino', 2),
 ('Bone Thugs-N-Harmony', 2),
 ('Boyz II Men', 2),
 ('Brandy', 2),
 ('Brian McKnight', 2),
 ('Brook Benton', 2),
 ('C+C Music Factory', 2),
 ("Cam'Ron", 2),
 ('Cameo', 2),
 ('Carly Rae Jepsen', 2),
 ('Carly Simon', 2),
 ('Carrie Underwood', 2),
 ('Cathy Dennis', 2),
 ('Chad Kroeger', 2),
 ('Chaka Khan', 2),
 ('Chamillionaire', 2),
 ('Chance The Rapper', 2),
 ('Cher', 2),
 ('Chubby Checker', 2),
 ('Classics IV', 2),
 ('Clean Bandit', 2),
 ('Cobra Starship', 2),
 ('Connie Stevens', 2),
 ('Coolio', 2),
 ('Crystal Gayle', 2),
 ('Da Brat', 2),
 ('Daft Punk', 2),
 ('Dan Hill', 2),
 ('Daryl Hall', 2),
 ('David Bowie', 2),
 ('David Cassidy', 2),
 ('David Seville', 2),
 ('Deborah Cox', 2),
 ('Dee Dee Sharp', 2),
 ('Demi Lovato', 2),
 ('Deniece Williams', 2),
 ("Destiny's Child", 2),
 ('Diddy', 2),
 ('Dinah Washington', 2),
 ('Dion', 2),
 ('Dion DiMucci', 2),
 ('Dobie Gray', 2),
 ('Dolly Parton', 2),
 ('Donny Hathaway', 2),
 ('Donny Osmond', 2),
 ('Dr. Hook', 2),
 ('Duane Eddy', 2),
 ('Dusty Springfield', 2),
 ('Earth, Wind & Fire', 2),
 ('Ed Sheeran', 2),
 ('Eddie Rabbitt', 2),
 ('Electric Light Orchestra', 2),
 ('Elvis Presley', 2),
 ('En Vogue', 2),
 ('Enya', 2),
 ('Erykah Badu', 2),
 ('Evanescence', 2),
 ('Faith Hill', 2),
 ('Far*East Movement', 2),
 ('Fat Joe', 2),
 ('Fergie', 2),
 ('Florida Georgia Line', 2),
 ('Frank Sinatra', 2),
 ('Frankie J', 2),
 ('Frankie Valli', 2),
 ('French Montana', 2),
 ('G-Eazy', 2),
 ('Ginuwine', 2),
 ('Giveon', 2),
 ('Gym Class Heroes', 2),
 ('Hayley Mills', 2),
 ('Imagine Dragons', 2),
 ('J Balvin', 2),
 ('Jagged Edge', 2),
 ('James Taylor', 2),
 ('Jay Sean', 2),
 ('Jerry Butler', 2),
 ('Jessie J', 2),
 ('Jimmy Clanton', 2),
 ('John Legend', 2),
 ('John Lennon', 2),
 ('John Mellencamp', 2),
 ('Johnny Mathis', 2),
 ('Jordin Sparks', 2),
 ('Keith Sweat', 2),
 ('Kenny Loggins', 2),
 ('Keri Hilson', 2),
 ('Kid Cudi', 2),
 ('Kim Carnes', 2),
 ('LMFAO', 2),
 ('Lana Del Rey', 2),
 ('Lil Durk', 2),
 ('Lil Mama', 2),
 ('Lil Pump', 2),
 ('Lil Uzi Vert', 2),
 ('Lil Yachty', 2),
 ("Lil' Mo", 2),
 ('Lionel Richie', 2),
 ('Lisa Lisa And Cult Jam', 2),
 ('Lizzo', 2),
 ('Lloyd', 2),
 ('Logic', 2),
 ('Loon', 2),
 ('Lupe Fiasco', 2),
 ('MO', 2),
 ('Major Lazer', 2),
 ('Mario Winans', 2),
 ('Mark Lindsay', 2),
 ('Marky Mark & The Funky Bunch', 2),
 ('Marvin Gaye', 2),
 ('Maxi Priest', 2),
 ('Meghan Trainor', 2),
 ('Melanie', 2),
 ('Miami Sound Machine', 2),
 ('Michael McDonald', 2),
 ('Michelle Branch', 2),
 ('Miley Cyrus', 2),
 ('Monica', 2),
 ('Montell Jordan', 2),
 ('Murphy Lee', 2),
 ('Mystikal', 2),
 ('Nancy Sinatra', 2),
 ('Nas', 2),
 ('Naughty By Nature', 2),
 ('Neil Diamond', 2),
 ('Normani', 2),
 ('Offset', 2),
 ('OneRepublic', 2),
 ('OutKast', 2),
 ('Owl City', 2),
 ('Ozzy Osbourne', 2),
 ('Patty Smyth', 2),
 ('Paul Anka', 2),
 ('Paul Evans', 2),
 ('Paul Revere & The Raiders', 2),
 ('Paul Simon', 2),
 ('Paula Abdul', 2),
 ('Pet Shop Boys', 2),
 ('Petey Pablo', 2),
 ('Pharrell Williams', 2),
 ('Plies', 2),
 ('Polo G', 2),
 ('Pop Smoke', 2),
 ('Rakim', 2),
 ('Ralph Tresvant', 2),
 ('Ray Charles', 2),
 ('Ray Parker Jr.', 2),
 ('Raydio', 2),
 ('Rick Ross', 2),
 ('Rob Thomas', 2),
 ('Roddy Ricch', 2),
 ('Ronald Isley', 2),
 ('Roy Orbison', 2),
 ('Salt-N-Pepa', 2),
 ('Seals & Crofts', 2),
 ('Sheena Easton', 2),
 ('Sheryl Crow', 2),
 ('Sisqo', 2),
 ('Soulja Boy', 2),
 ('Sting', 2),
 ('Sugarloaf', 2),
 ('Suzanne Vega', 2),
 ('Swae Lee', 2),
 ('Taio Cruz', 2),
 ('Tamia', 2),
 ('Tems', 2),
 ('The 4 Seasons', 2),
 ('The Beatles', 2),
 ('The Browns', 2),
 ('The Chipmunks', 2),
 ('The Emotions', 2),
 ('The Fireballs', 2),
 ('The First Edition', 2),
 ('The Mindbenders', 2),
 ('The Miracles', 2),
 ('The Osmonds', 2),
 ('The Stylistics', 2),
 ('The Temptations', 2),
 ('The Three Degrees', 2),
 ('Tom Petty And The Heartbreakers', 2),
 ('Tony Orlando', 2),
 ('Total', 2),
 ('Trey Songz', 2),
 ('Ty Dolla $ign', 2),
 ('Tyrese', 2),
 ('Uncle Kracker', 2),
 ('Vanessa Williams', 2),
 ('Vita', 2),
 ('Warren G', 2),
 ('Wham!', 2),
 ('Will Smith', 2),
 ('Willie Nelson', 2),
 ('Wings', 2),
 ('Wizkid', 2),
 ('Wyclef Jean', 2),
 ('XXXTENTACION', 2),
 ('Xscape', 2),
 ('Young Jeezy', 2),
 ('Young Money', 2),
 ('Yung Joc', 2),
 ('Zayn', 2),
 ('Zhane', 2),
 ('benny blanco', 2),
 ('fun.', 2),
 ('"Weird Al" Yankovic', 1),
 ("'Til Tuesday", 1),
 ('100 Proof', 1),
 ('10cc', 1),
 ('1910 Fruitgum Co.', 1),
 ('24kGoldn', 1),
 ('3 Doors Down', 1),
 ('38 Special', 1),
 ('42 Dugg', 1),
 ('4PM', 1),
 ('5 Seconds Of Summer', 1),
 ('69 Boyz', 1),
 ('6LACK', 1),
 ('702', 1),
 ('? and the Mysterians', 1),
 ('A Flock Of Seagulls', 1),
 ('A Great Big World', 1),
 ('A Taste Of Honey', 1),
 ("A'me Lorain", 1),
 ('ABBA', 1),
 ('ABC', 1),
 ('AJR', 1),
 ('AWB', 1),
 ('Aaliyah', 1),
 ('Ace', 1),
 ('Ace Of Base', 1),
 ('Adam Lambert', 1),
 ('Adam Wade', 1),
 ('Adassa', 1),
 ('Adele', 1),
 ('Adina Howard', 1),
 ('Aerosmith', 1),
 ('After 7', 1),
 ('After The Fire', 1),
 ('Aged in Soul', 1),
 ('Air Supply', 1),
 ('Al B. Sure!', 1),
 ('Al Hirt', 1),
 ('Al Martino', 1),
 ('Al Stewart', 1),
 ('Al Wilson', 1),
 ("Alan O'Day", 1),
 ('Alanis Morissette', 1),
 ('Alannah Myles', 1),
 ('Albert Hammond', 1),
 ('Alex Band', 1),
 ('Alex Clare', 1),
 ('Alias', 1),
 ('Alice Bowie', 1),
 ('Alice Cooper', 1),
 ('Alicia Bridges', 1),
 ('Alive & Kicking', 1),
 ('All Saints', 1),
 ('All-4-One', 1),
 ('Allan Sherman', 1),
 ('Allure', 1),
 ('Aloe Blacc', 1),
 ('Amanda Reifer', 1),
 ('Ambrosia', 1),
 ('America', 1),
 ('American Idol Finalists', 1),
 ('Amerie', 1),
 ('Amii Stewart', 1),
 ('Amy Winehouse', 1),
 ('Andrea True Connection', 1),
 ('Andrew Gold', 1),
 ('Andrew Seeley', 1),
 ('Andy Gibb', 1),
 ('Andy Grammer', 1),
 ('Andy Kim', 1),
 ('Andy Williams', 1),
 ('Angie Martinez', 1),
 ('Animotion', 1),
 ('Anita Baker', 1),
 ('Anita Bryant', 1),
 ('Anita Ward', 1),
 ('Anna Kendrick', 1),
 ('Anne Murray', 1),
 ('Anne-Marie', 1),
 ('Annie Lennox', 1),
 ('Another Bad Creation', 1),
 ('April Stevens', 1),
 ('Aqua', 1),
 ('Arcadia', 1),
 ('Archie Bell', 1),
 ('Argent', 1),
 ('Arizona Zervas', 1),
 ('Arrested Development', 1),
 ('Arthur Conley', 1),
 ('Arthur Lyman Group', 1),
 ('Artists For Haiti', 1),
 ('Ashlee Simpson', 1),
 ('Asia', 1),
 ('Astrud Gilberto', 1),
 ('Athena Cage', 1),
 ('Atlanta Rhythm Section', 1),
 ('Atlantic Starr', 1),
 ('Austin Roberts', 1),
 ('Ava Max', 1),
 ('Avicii', 1),
 ('Avril Lavigne', 1),
 ('B*Witched', 1),
 ('B-Rock & The Bizz', 1),
 ('B.T. Express', 1),
 ('B.W. Stevenson', 1),
 ('B2K', 1),
 ('BBD', 1),
 ('Baauer', 1),
 ('Bachman-Turner Overdrive', 1),
 ('Backstreet Boys', 1),
 ('Bad Company', 1),
 ('Bad English', 1),
 ('Bad Meets Evil', 1),
 ('Badfinger', 1),
 ('Bananarama', 1),
 ('Barbara George', 1),
 ('Barbara Lewis', 1),
 ('Barbara Lynn', 1),
 ('Barbara Mason', 1),
 ('Barenaked Ladies', 1),
 ('Barry DeVorzon', 1),
 ('Barry Gibb', 1),
 ('Barry Manilow', 1),
 ('Barry Mann', 1),
 ('Barry McGuire', 1),
 ('Barry White', 1),
 ('Bay City Rollers', 1),
 ('Beastie Boys', 1),
 ('Beck', 1),
 ('Bee Gees', 1),
 ('Belinda Carlisle', 1),
 ('Bell Biv DeVoe', 1),
 ('Bellamy Brothers', 1),
 ('Ben E. King', 1),
 ('Bent Fabric', 1),
 ('Berlin', 1),
 ('Bert Kaempfert', 1),
 ('Bertie Higgins', 1),
 ('Bette Midler', 1),
 ('Big Bopper', 1),
 ('Big Mountain', 1),
 ('Bill "Smokey" Robinson', 1),
 ('Bill Anderson', 1),
 ('Bill Conti', 1),
 ('Bill Cosby', 1),
 ('Bill Medley', 1),
 ('Bill Parsons', 1),
 ('Billie Eilish', 1),
 ('Billy Bland', 1),
 ('Billy Davis, Jr.', 1),
 ('Billy Grammer', 1),
 ('Billy Idol', 1),
 ('Billy J. Kramer', 1),
 ('Billy Joe Royal', 1),
 ('Billy Joel', 1),
 ('Billy Ocean', 1),
 ('Billy Paul', 1),
 ('Billy Stewart', 1),
 ('Billy Swan', 1),
 ('Billy Vera', 1),
 ('Biz Markie', 1),
 ('Black Box', 1),
 ('Blaque', 1),
 ('Blessid Union Of Souls', 1),
 ('Blink-182', 1),
 ('BlocBoy JB', 1),
 ('Blondie', 1),
 ('Blood, Sweat & Tears', 1),
 ('Bloodstone', 1),
 ('Blu Cantrell', 1),
 ('Blue Magic', 1),
 ('Blue Swede', 1),
 ('Blueface', 1),
 ('Blues Image', 1),
 ('Blues Magoos', 1),
 ('Blues Traveler', 1),
 ('Blxst', 1),
 ('Bo Bice', 1),
 ('Bo Donaldson And The Heywoods', 1),
 ('Bob B. Soxx And The Blue Jeans', 1),
 ('Bob Dylan', 1),
 ('Bob Lind', 1),
 ('Bob Luman', 1),
 ('Bob Moore and His Orch.', 1),
 ('Bob Seger', 1),
 ('Bob Seger & The Silver Bullet Band', 1),
 ('Bob Welch', 1),
 ('Bobbie Gentry', 1),
 ('Bobby "Boris" Pickett And The Crypt-Kickers', 1),
 ('Bobby Bare', 1),
 ('Bobby Bloom', 1),
 ('Bobby Caldwell', 1),
 ('Bobby Darin', 1),
 ('Bobby Day', 1),
 ('Bobby Freeman', 1),
 ('Bobby Fuller Four', 1),
 ('Bobby Goldsboro', 1),
 ('Bobby Hart', 1),
 ('Bobby Hebb', 1),
 ('Bobby Helms', 1),
 ('Bobby Lewis', 1),
 ('Bobby McFerrin', 1),
 ('Bobby Rydell', 1),
 ('Bobby Sherman', 1),
 ('Bobby Shmurda', 1),
 ('Bobby Vee', 1),
 ('Bobby Vee And The Strangers', 1),
 ('Bobby Vinton', 1),
 ('Bobby Womack', 1),
 ('Bon Iver', 1),
 ('Bon Jovi', 1),
 ('Bonnie Raitt', 1),
 ('Bonnie Tyler', 1),
 ("Booker T. & The MG's", 1),
 ('Boston', 1),
 ('Bounty Killer', 1),
 ('Bow Legged Lou', 1),
 ('Boy Meets Girl', 1),
 ('Boys Club', 1),
 ('Boz Scaggs', 1),
 ('Bradley Cooper', 1),
 ('Bread', 1),
 ('Breathe', 1),
 ('Brenda Lee', 1),
 ('Brenda Russell', 1),
 ('Brendon Urie', 1),
 ('Brenton Wood', 1),
 ('Brewer And Shipley', 1),
 ('Brian & Brandon Casey', 1),
 ('Brian Hyland', 1),
 ('Brick', 1),
 ('Brooklyn Bridge', 1),
 ('Brooklyn Dreams', 1),
 ('Brother Love', 1),
 ('Brownstone', 1),
 ('Brownsville Station', 1),
 ('Bruce Channel', 1),
 ('Bruce Hornsby & The Range', 1),
 ('Bruce Springsteen', 1),
 ('Bruce Willis', 1),
 ('Bryson Tiller', 1),
 ('Bubba Sparxxx', 1),
 ('Buckcherry', 1),
 ('Buckner & Garcia', 1),
 ('Burl Ives', 1),
 ('Burton Cummings', 1),
 ('Buzz Clifford', 1),
 ('Byron MacGregor', 1),
 ('C.W. McCall', 1),
 ('Calloway', 1),
 ('Candyman', 1),
 ('Capital Cities', 1),
 ('Captain & Tennille', 1),
 ('Carl Anderson', 1),
 ('Carl Carlton', 1),
 ('Carl Dobkins, Jr.', 1),
 ('Carl Douglas', 1),
 ('Carla Thomas', 1),
 ('Carole King', 1),
 ('Carolina Gaitan', 1),
 ('Carolyn Willis', 1),
 ('Carpenters', 1),
 ('Cascada', 1),
 ('Cassidy', 1),
 ('Cassie', 1),
 ('Cast', 1),
 ('Cat Stevens', 1),
 ('Cataracs', 1),
 ('CeCe Peniston', 1),
 ('CeCe Winans', 1),
 ('Cedric Gervais', 1),
 ('Cee Lo Green', 1),
 ('Chad & Jeremy', 1),
 ('Chairman Of The Board', 1),
 ('Changing Faces', 1),
 ('Chante Moore', 1),
 ('Charlay', 1),
 ('Charlene', 1),
 ('Charli Baltimore', 1),
 ('Charlie Daniels', 1),
 ('Charlie Foxx', 1),
 ('Charlie Rich', 1),
 ('Cheap Trick', 1),
 ('Cheech & Chong', 1),
 ('Chencho Corleone', 1),
 ('Chesney Hawkes', 1),
 ('Chic', 1),
 ('Chicago', 1),
 ('Childish Gambino', 1),
 ("Chris Barber's Jazz Band", 1),
 ('Chris Isaak', 1),
 ('Chris Kenner', 1),
 ('Chris Montez', 1),
 ('Chris Norman', 1),
 ('Chris Stapleton', 1),
 ('Chris de Burgh', 1),
 ('Christina Milian', 1),
 ('Christine McVie', 1),
 ('Christopher Cross', 1),
 ('Chuck Berry', 1),
 ('Chumbawamba', 1),
 ('City High', 1),
 ('City Spud', 1),
 ('Clarence Carter', 1),
 ('Clarence Henry', 1),
 ('Claude King', 1),
 ('Claudine Clark', 1),
 ('Clay Aiken', 1),
 ('Cliff Richard', 1),
 ('Climax', 1),
 ('Climax Blues Band', 1),
 ('Clint Holmes', 1),
 ('Club Nouveau', 1),
 ('Clyde McPhatter', 1),
 ('Colbie Caillat', 1),
 ("Colby O'Donis", 1),
 ('Color Me Badd', 1),
 ('Commander Cody & His Lost Planet Airmen', 1),
 ('Commodores', 1),
 ('Common', 1),
 ('Connie Francis', 1),
 ('Conway Twitty', 1),
 ('Corey Hart', 1),
 ('Corina', 1),
 ('Cornelius Brothers & Sister Rose', 1),
 ('Cory Gunz', 1),
 ('Count Five', 1),
 ('Cozy Cole', 1),
 ('Craig David', 1),
 ('Craig Mack', 1),
 ('Crash Test Dummies', 1),
 ('Crazy Town', 1),
 ('Cream', 1),
 ('Creed', 1),
 ('Creedence Clearwater Revival', 1),
 ('Crispian St. Peters', 1),
 ('Crosby, Stills & Nash', 1),
 ('Crowded House', 1),
 ('Crystal Waters', 1),
 ('Culture Club', 1),
 ('Curtis Lee', 1),
 ('Curtis Mayfield', 1),
 ('Curtis Stigers', 1),
 ('Cutting Crew', 1),
 ('Cyndi Lauper', 1),
 ("D'Angelo", 1),
 ('D-Mob', 1),
 ('D.H.T.', 1),
 ('D.J. Jazzy Jeff', 1),
 ('D.R.A.M.', 1),
 ('D12', 1),
 ('D4L', 1),
 ('DJ Frank E', 1),
 ('DJ Sammy', 1),
 ('DNA', 1),
 ('DNCE', 1),
 ('DRS', 1),
 ('Daddy Dewdrop', 1),
 ('Daddy Yankee', 1),
 ('Dale & Grace', 1),
 ('Damn Yankees', 1),
 ('Dan + Shay', 1),
 ('Dan Fogelberg', 1),
 ('Dan Hartman', 1),
 ('Daniel Bedingfield', 1),
 ('Daniel Caesar', 1),
 ('Daniel Powter', 1),
 ('Danity Kane', 1),
 ("Danny O'Keefe", 1),
 ('Danny Williams', 1),
 ('Daughtry', 1),
 ('Dave Edmunds', 1),
 ('Dave Loggins', 1),
 ('David Archuleta', 1),
 ('David Banner', 1),
 ('David Cook', 1),
 ('David Essex', 1),
 ('David Geddes', 1),
 ('David Lee Roth', 1),
 ('David Naughton', 1),
 ('David Rose and ', 1),
 ('David Ruffin', 1),
 ('David Soul', 1),
 ('Daya', 1),
 ('Dazz Band', 1),
 ('Dean Martin', 1),
 ('Debarge', 1),
 ('Debbie Gibson', 1),
 ('Debby Boone', 1),
 ('Debelah Morgan', 1),
 ('Dee Clark', 1),
 ('Deee-Lite', 1),
 ('Deep Blue Something', 1),
 ('Deep Purple', 1),
 ('Def Leppard', 1),
 ('Del Amitri', 1),
 ('Del Shannon', 1),
 ('Delbert McClinton', 1),
 ('Della Reese', 1),
 ('Dem Franchize Boyz', 1),
 ('Dennis DeYoung', 1),
 ('Dennis Yost', 1),
 ('Deodato', 1),
 ('Deon Estus', 1),
 ('Depeche Mode', 1),
 ('Derek and the Dominos', 1),
 ("Des'ree", 1),
 ('Desiigner', 1),
 ('Desmond Dekker', 1),
 ('Dev', 1),
 ("Dexy's Midnight Runners", 1),
 ('Diana Gordon', 1),
 ('Diane Guerrero', 1),
 ('Diane Renay', 1),
 ('Dick and DeeDee', 1),
 ('Dickey Lee', 1),
 ('Dickie Goodman', 1),
 ('Dido', 1),
 ('Dino', 1),
 ('Dionne Farris', 1),
 ('Dire Straits', 1),
 ('Disclosure', 1),
 ('Disco-Tex and the Sex-O-Lettes', 1),
 ('Divine', 1),
 ('Divinyls', 1),
 ('Dixie Chicks', 1),
 ('Do', 1),
 ('Dodie Stevens', 1),
 ('Domenico Modugno', 1),
 ('Domino', 1),
 ('Don & Juan', 1),
 ('Don Johnson', 1),
 ('Don McLean', 1),
 ('Don Toliver', 1),
 ('Donell Jones', 1),
 ('Donna Fargo', 1),
 ('Donna Lewis', 1),
 ('Donnie Brooks', 1),
 ('Donny & Marie Osmond', 1),
 ('Donovan', 1),
 ('Doris Troy', 1),
 ('Dorothy Combs Morrison', 1),
 ('Dorothy Moore', 1),
 ('Dr. John', 1),
 ('Dream', 1),
 ('Duran Duran', 1),
 ('E-40', 1),
 ('EMF', 1),
 ('Eagle-Eye Cherry', 1),
 ('Eagles', 1),
 ('Earl Grant', 1),
 ('Ed Ames', 1),
 ('Eddie Cochran', 1),
 ('Eddie Holman', 1),
 ('Eddie Kendricks', 1),
 ('Eddie Money', 1),
 ('Eddie Murphy', 1),
 ('Eddy Arnold', 1),
 ('Eddy Grant', 1),
 ("Eden's Crush", 1),
 ('Edie Brickell & New Bohemians', 1),
 ('Edison Lighthouse', 1),
 ('Edward Bear', 1),
 ('Edward Byrnes', 1),
 ('Edwin McCain', 1),
 ('Edwin Starr', 1),
 ('Eiffel 65', 1),
 ('El DeBarge', 1),
 ('Ella Mai', 1),
 ('Elle King', 1),
 ('Ellie Goulding', 1),
 ('Elvin Bishop', 1),
 ('Emilio Pericoli', 1),
 ('Encanto Cast', 1),
 ('Engelbert Humperdinck', 1),
 ('England Dan & John Ford Coley', 1),
 ('Enigma', 1),
 ('Eric B.', 1),
 ('Eric Burdon & The Animals', 1),
 ('Eric Burdon And War', 1),
 ('Eric Carmen', 1),
 ('Eric Clapton', 1),
 ('Eric Clapton And His Band', 1),
 ('Eric Weissberg', 1),
 ('Ernie Fields & Orch.', 1),
 ('Ernie K-Doe', 1),
 ('Ernie Maresca', 1),
 ('Estelle', 1),
 ('Esther Phillips', 1),
 ('Europe', 1),
 ('Eurythmics', 1),
 ('Evelyn "Champagne" King', 1),
 ("Every Mothers' Son", 1),
 ('Everything But The Girl', 1),
 ('Exile', 1),
 ('Expose', 1),
 ('Extreme', 1),
 ('Eydie Gorme', 1),
 ('Fabian', 1),
 ('Faith No More', 1),
 ('Falco', 1),
 ('Fall Out Boy', 1),
 ('Fantasia', 1),
 ('Fat Man Scoop', 1),
 ('Fats Domino', 1),
 ('Feist', 1),
 ('Felly', 1),
 ('Ferrante & Teicher', 1),
 ('Field Mob', 1),
 ('Fifth Harmony', 1),
 ('Fine Young Cannibals', 1),
 ('Finger Eleven', 1),
 ('Firefall', 1),
 ('Firehouse', 1),
 ('First Class', 1),
 ('Five', 1),
 ('Five Man Electrical Band', 1),
 ('Fleetwood Mac', 1),
 ('Florence Welch', 1),
 ('Floyd Cramer', 1),
 ('Focus', 1),
 ('Fontella Bass', 1),
 ("Force M.D.'s", 1),
 ('Foreigner', 1),
 ('Fort Minor', 1),
 ('Foster The People', 1),
 ('Four Tops', 1),
 ('Foxes', 1),
 ('Foxy', 1),
 ('Foxy Brown', 1),
 ('Frank Ifield', 1),
 ('Frank Stallone', 1),
 ('Franke & The Knockouts', 1),
 ('Frankie Avalon', 1),
 ('Frankie Goes To Hollywood', 1),

In [107]:
remaining_unknowns = fixed_gender_df[
    fixed_gender_df.type == 'unknown'
]
assert(len(remaining_unknowns) == 0)
fixed_gender_df.type.value_counts()

type
individual    1303
group          912
Name: count, dtype: int64

In [108]:
remaining_unknowns = fixed_gender_df[
    fixed_gender_df.gender == 'unknown'
]
for index, row in remaining_unknowns.iterrows():
    print(row['performer'])
assert(len(remaining_unknowns) == 0)

fixed_gender_df.gender.value_counts()

# Filter to non-binary artists:
fixed_gender_df[
    fixed_gender_df.gender == 'non-binary'
]

          performer        type      gender
188   Billie Eilish  individual  non-binary
504     Demi Lovato  individual  non-binary
773          Halsey  individual  non-binary
852     Jaden Smith  individual  non-binary
866   Janelle Monae  individual  non-binary
1634      Sam Smith  individual  non-binary

# Export as a key value lookup table & the corrected name split dataset

In [110]:
GENDER_LOOKUP_TABLE_PATH = './data/22.5-OUTPUT-1-gender-lookup-table.csv'
fixed_gender_df.to_csv(GENDER_LOOKUP_TABLE_PATH, index=False)

CORRECTED_PERFORMER_NAME_SPLITS_PATH = './data/22.5-OUTPUT-2-corrected-name-splits.csv'
fixed_raw_performers_df.to_csv(CORRECTED_PERFORMER_NAME_SPLITS_PATH, index=False)

In [112]:
# double checking :D
pd.read_csv(GENDER_LOOKUP_TABLE_PATH)
# pd.read_csv(CORRECTED_PERFORMER_NAME_SPLITS_PATH)

                             performer        type              gender
0                  "Weird Al" Yankovic  individual                male
1                              'N Sync       group                male
2                         'Til Tuesday       group  mixed gender group
3                            100 Proof       group  mixed gender group
4                                 10cc       group                male
...                                ...         ...                 ...
2210    Disco-Tex and the Sex-O-Lettes       group  mixed gender group
2211                      Paul & Paula       group  mixed gender group
2212  Cornelius Brothers & Sister Rose       group  mixed gender group
2213           Jimmy Harnen with Synch       group                male
2214                    Trina & Tamara       group              female

[2215 rows x 3 columns]